html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  max-height: 500px;
  overflow: hidden;

  position: relative;
}

.banner-content {
  max-width: 50em;
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  padding-left: 1.5em;
  padding-right: 1.5em;
}

.banner-title {
  display: inline;
  font-size: 4rem;

  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

.banner-body {
  font-size: 2rem;
  font-style: italic;
  margin-top: .5em;
}
